<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">

	<!-- @WebListener 애노테이션 이용한
	     ServletContextListener 설정 시
	          패키지와 클래스명이 jdbc.DBCPInitListenerAnnotation 같은때는
	          아래 형식의 listener 태그를 주석 처리해 주시기 바랍니다. -->

	<!-- web.xml 활용 ServletContextListener 설정 -->
	<listener>
		<listener-class>jdbc.DBCPInitListener</listener-class>		
	</listener>
	 
	<context-param>
		<param-name>poolConfig</param-name>
		<!-- 앞서 jdbcUrl의 DB주소에서 쌍다옴표 2개와 풀러스 사인 1개를 제거하고, 엔드 마크 3개를 엔드amp세미콜론으로 변경해서 소스 코드를 작성해 주시기 바랍니다. -->
		<param-value>
		jdbcdriver=com.mysql.cj.jdbc.Driver
		jdbcUrl = jdbc:mysql://localhost:3306/chap17?characterEncoding=UTF-8&amp;serverTimezone=UTC&amp;useSSL=false&amp;allowPublicKeyRetrieval=true
		dbUser = jspexam
		dbPass = jsppw
		poolName = chap17		
		</param-value>
	
	</context-param>

</web-app>